[submodule "thirdparty/sources/gtest"]
	path = thirdparty/sources/gtest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/sources/gperftools"]
	path = thirdparty/sources/gperftools
	url = https://github.com/gperftools/gperftools.git
