[submodule "thirdparty/sources/gtest"]
	path = thirdparty/sources/gtest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/sources/gperftools"]
	path = thirdparty/sources/gperftools
	url = https://github.com/gperftools/gperftools.git
[submodule "thirdparty/sources/fmt"]
	path = thirdparty/sources/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/sources/libevent"]
	path = thirdparty/sources/libevent
	url = https://github.com/libevent/libevent.git
[submodule "thirdparty/sources/queues"]
	path = thirdparty/sources/queues
	url = https://github.com/mstump/queues.git
